<!-- TOP TEXT -->
<div class="w-full max-w-3xl pb-6">
  <p class="uppercase font-bold text-cyan-brand mb-2">Our Standards</p>
  <div class="flex flex-row justify-center items-center flex-wrap md:flex-nowrap">
    <h3 class="h-medium font-semibold uppercase tracking-wide text-white-pure">The</h3>
    <span
      class="font-cursive px-3 text-[3rem] text-yellow-gold leading-none transform -translate-y-1 block">Bathroom</span>
    <h3 class="h-medium font-semibold uppercase tracking-wide text-white-pure">Transformation</h3>
  </div>
</div>

<!-- MIDDLE CONTENT -->
<div class="w-full my-2">
  <div class="inner-slider splide w-full">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="overflow-hidden rounded-[20px] bg-white-pure/5 p-1.5 border border-white-pure/10">
            <div class="w-full  aspect-3/4 max-h-64 overflow-hidden rounded-[14px]">
              <img src="media/assets/move-out-4/20240923_140220.jpg" alt="Bathroom deep cleaning view 1"
                class="w-full h-full object-cover">
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="overflow-hidden rounded-[20px] bg-white-pure/5 p-1.5 border border-white-pure/10">
            <div class="w-full  aspect-3/4 max-h-64 overflow-hidden rounded-[14px]">
              <img src="media/assets/move-out-4/20240923_150753.jpg" alt="Bathroom deep cleaning view 2"
                class="w-full h-full object-cover">
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="overflow-hidden rounded-[20px] bg-white-pure/5 p-1.5 border border-white-pure/10">
            <div class="w-full  aspect-3/4 max-h-64 overflow-hidden rounded-[14px]">
              <img src="media/assets/move-out-4/20251017_093049.jpg" alt="Bathroom deep cleaning view 3"
                class="w-full h-full object-cover">
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="overflow-hidden rounded-[20px] bg-white-pure/5 p-1.5 border border-white-pure/10">
            <div class="w-full  aspect-3/4 max-h-64 overflow-hidden rounded-[14px]">
              <img src="media/assets/move-out-4/20251017_113523.jpg" alt="Bathroom deep cleaning view 4"
                class="w-full h-full object-cover">
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="overflow-hidden rounded-[20px] bg-white-pure/5 p-1.5 border border-white-pure/10">
            <div class="w-full  aspect-3/4 max-h-64 overflow-hidden rounded-[14px]">
              <img src="media/assets/move-out-4/20251017_113546.jpg" alt="Bathroom deep cleaning view 5"
                class="w-full h-full object-cover">
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>

<!-- BOTTOM TEXT -->
<div class="w-full max-w-4xl mt-6">
  <h5 class="uppercase font-bold text-yellow-gold mb-2">Before & After Solutions</h5>
  <p class="text-white-pure p-medium">
    Our team meticulously removes soap scum, sanitizes toilets, and polishes fixtures until they sparkle like new.
  </p>
</div>