<section id="about" class="w-full py-16 bg-yellow-light text-center">
  <div class="container max-w-4xl flex flex-col items-center">
    <h2>About Us</h2>
    <div class="mt-8 space-y-6 text-dark-slate font-body text-base sm:text-lg max-w-3xl leading-relaxed tracking-wide">
      <p class="text-dark-slate">Welcome to the Harborshine Cleaning Company. We pride ourselves on exceptional cleaning
        solutions for residential, rental, and commercial spaces in San Diego and surrounding areas.</p>
      <p class="text-dark-slate">Our commitment to outstanding service, attention to detail, and unwavering focus are
        what we are all about. Customer satisfaction is our #1 goal.</p>
    </div>
  </div>
</section>