<section
  data-animate="parallax-section"
  id="about"
  class="container w-full py-10 lg:pt-20 lg:pb-10 flex items-center justify-center bg-white-pure text-white-pure text-center overflow-hidden"
>
  <div
    class="relative w-full h-full flex flex-col items-center justify-center rounded-[30px] overflow-hidden"
  >
    <div
      data-parallax="target"
      class="absolute inset-0 z-0 overflow-hidden rounded-[30px] scale-125"
    >
      <img
        src="/media/assets/images/about-us-harborshine.jpg"
        alt="Harborshine Cleaning Co. about us image"
        loading="lazy"
        class="w-full h-full object-cover overflow-hidden"
      />
      <div class="absolute inset-0 bg-black/30"></div>
    </div>

    <div class="relative z-10 w-full h-full">
      <div class="h-2/3 w-full flex flex-col items-center justify-center">
        <div
          class="w-[80%] sm:w-[40%] max-w-3xl rounded-[15px] m-20 lg:m-44 bg-dark-slate/70 px-6 py-8 flex flex-col items-center justify-center"
        >
          <div class="mb-10">
            <h2
              class="h-medium uppercase text-white-pure border-b-[5px] border-cyan-brand-dark"
            >
              About Us
            </h2>
          </div>

          <h2 class="font-cursive text-white-pure pb-2">Harborshine</h2>
          <p class="h-medium">Cleaning Company!</p>
        </div>
      </div>

      <div
        class="flex flex-col gap-6 py-8 px-8 lg:px-0 items-center justify-center rounded-b-[30px] bg-cyan-brand-dark"
      >
        <p class="p-medium max-w-4xl mx-auto">
          Nathalie Jara is the founder and owner of Harborshine Cleaning
          Company. After several years working as an independent cleaner, she
          saw the opportunity to create a more refined, detail-oriented approach
          to professional cleaning for her clients, prioritizing quality over
          quantity.
        </p>
        <p class="p-medium max-w-4xl mx-auto">
          Driven by a commitment to excellence, Nathalie launched Harborshine to
          deliver meticulous care for residential homes, vacation rentals, and
          commercial offices across San Diego and the surrounding areas. She is
          equally dedicated to building a more equitable workplace, guided by a
          simple yet powerful belief: <br />
          “No judgment.”
        </p>
        <p class="p-medium max-w-4xl mx-auto italic">
          So please give us the opportunity to provide the Harborshine
          experience for you so you can experience our company motto: <br />
          <span class="font-semibold">All things shining!</span>
        </p>
      </div>
    </div>
  </div>
</section>
