<section data-animate="fade-in-up" id="coverage-areas"
  class="container w-full h-full sm:min-h-[75vh] py-10 lg:py-20 flex items-center justify-center bg-white-pure text-white-pure text-center">

  <div class="animate-target-box w-full h-full flex flex-col items-center justify-center bg-cyan-brand rounded-[30px]">
    <div class="w-full h-full">

      <div class="w-full flex flex-col items-center justify-center">
        <div
          class="flex flex-col items-center justify-center h-full w-full px-6 py-8 sm:px-6 sm:py-10 text-base sm:text-lg leading-relaxed tracking-wide">
          <div class="mb-4 sm:mb-10">
            <h2 class="h-medium uppercase text-white-pure border-b-[5px] border-white-pure">
              Coverage Areas
            </h2>
          </div>

          <p class="p-large max-w-3xl mx-auto">
            We proudly serve San Diego and its surrounding neighborhoods,
            bringing our superior cleaning standards right to your doorstep.
            <br />
            Check if your area is on our list!
          </p>
        </div>
      </div>

      <div class="w-full flex flex-col items-center justify-evenly">
        <img src="/media/assets/images/coverage-san-diego.jpg" alt="Harborshine Cleaning Co. coverage areas image"
          class="w-full h-full object-cover rounded-b-[30px]" />
      </div>

    </div>
  </div>
</section>