<section
  class="relative w-full min-h-[60vh] h-[94vh] sm:min-h-[75vh] flex items-center justify-center bg-dark-slate text-white-pure text-center overflow-hidden">
  <div class="absolute inset-0 z-0">
    <img src="/media/assets/images/main-hero.jpg" alt="Harborshine Cleaning Co. hero image"
      class="w-full h-full object-cover" />
    <div class="absolute inset-0 bg-black/20"></div>
  </div>

  <div class="container relative z-10 flex flex-col items-center justify-between">
    <div class="h-full flex items-center flex-col justify-center">

      <div
        class="flex flex-col sm:flex-row justify-evenly items-center w-full gap-4 phone-landscape:mt-16 mt-20 2xl:mt-40 uppercase">
        <div
          class="bg-cyan-brand-dark px-8 py-4 phone-landscape:py-1! flex items-center gap-2 text-2xl font-bold rounded-lg">
          5.0 <i class="not-italic text-yellow-gold">★</i> reviews
        </div>
        <div class="bg-cyan-brand-dark px-8 py-4 phone-landscape:py-1! text-2xl font-bold rounded-lg">
          Eco - Friendly
        </div>
      </div>

      <div class="lg:pt-8 pb-12 phone-landscape:!pb-6 lg:pb-24">
        <h1 class="text-white-pure text-center font-heading font-black uppercase">
          All things shining
        </h1>

        <h2 class="text-white-pure flex flex-col">
          <span class="block font-medium pb-2">Discover the
            <span class="text-cyan-brand font-bold">Harborshine</span></span>
          <span class="block font-medium">Difference in San Diego!</span>
        </h2>
      </div>

      <div>
        <a href="#contact"
          class="inline-block bg-yellow-gold shadow-xl/50 inset-shadow-lg inset-shadow-black-500/50 text-black font-heading font-bold text-xl sm:text-3xl phone-landscape:text-sm! tracking-wider px-8 py-4 border border-black/10 hover:bg-yellow-light transition-colors rounded-full ">
          Get Your Free Quote
        </a>
      </div>
    </div>
  </div>
</section>