<div class="w-full overflow-x-hidden bg-brand-yellow text-brand-dark py-3.5 border-y border-brand-dark/10">
  <div class="flex whitespace-nowrap gap-12 min-w-full justify-around font-medium">
    <span class="location-tag uppercase tracking-wider inline-flex items-center gap-2"><span><img
          src="/media/aerosol-clean-icon.png" alt="Pin" class="w-4 h-5 object-contain"> </span> Old Town
      92110</span>
    <span class="location-tag uppercase tracking-wider inline-flex items-center gap-2"><span><img
          src="/media/aerosol-clean-icon.png" alt="Pin" class="w-4 h-5 object-contain"> </span> Solana Beach
      92075</span>
    <span class="location-tag uppercase tracking-wider inline-flex items-center gap-2"><span><img
          src="/media/aerosol-clean-icon.png" alt="Pin" class="w-4 h-5 object-contain"> </span> Ocean Beach 92107</span>
    <span class="location-tag uppercase tracking-wider inline-flex items-center gap-2"><span><img
          src="/media/aerosol-clean-icon.png" alt="Pin" class="w-4 h-5 object-contain"> </span> Pacific Beach
      92109</span>
    <span class="location-tag uppercase tracking-wider inline-flex items-center gap-2"><span><img
          src="/media/aerosol-clean-icon.png" alt="Pin" class="w-4 h-5 object-contain"> </span> Point Loma 92106</span>
    <span class="location-tag uppercase tracking-wider inline-flex items-center gap-2"><span><img
          src="/media/aerosol-clean-icon.png" alt="Pin" class="w-4 h-5 object-contain"> </span> Cardiff-by-the-Sea
      92007</span>
    <span class="location-tag uppercase tracking-wider inline-flex items-center gap-2"><span><img
          src="/media/aerosol-clean-icon.png" alt="Pin" class="w-4 h-5 object-contain"> </span> North Park 92104</span>
    <span class="location-tag uppercase tracking-wider inline-flex items-center gap-2"><span><img
          src="/media/aerosol-clean-icon.png" alt="Pin" class="w-4 h-5 object-contain"> </span> La Jolla 92037</span>
    <span class="location-tag uppercase tracking-wider inline-flex items-center gap-2"><span><img
          src="/media/aerosol-clean-icon.png" alt="Pin" class="w-4 h-5 object-contain"> </span> Miramar 92145</span>
  </div>
</div>