<section data-animate="fade-in-up" id="move-out-specials" class="w-full bg-white-pure py-10 lg:py-20"
  aria-labelledby="move-out-heading">
  <div class="container animate-target-box">
    <div id="outer-slider" class="splide w-full relative">
      <div
        class="splide__arrows absolute top-1/2 -translate-y-1/2 w-full flex justify-between z-20 pointer-events-none -px-2 md:px-4">
        <button
          class="splide__arrow splide__arrow--prev pointer-events-auto flex items-center justify-center !opacity-100 !bg-white-pure !border-none !w-14 !h-14 rounded-full shadow-lg transition-transform duration-300 ease-out hover:scale-110">
          <img src="/media/icons/i-arrow.png" alt="Previous Category" class="w-12 h-12 rotate-180 object-contain">
        </button>
        <button
          class="splide__arrow splide__arrow--next pointer-events-auto flex items-center justify-center !opacity-100 !bg-white-pure !border-none !w-14 !h-14 rounded-full shadow-lg transition-transform duration-300 ease-out hover:scale-110">
          <img src="/media/icons/i-arrow.png" alt="Next Category" class="w-12 h-12 object-contain">
        </button>
      </div>

      <div class="splide__track">
        <ul class="splide__list">
          <li id="bathroom-target"
            class="splide__slide bg-dark-slate text-white-pure rounded-[30px] p-8 md:p-10 flex flex-col items-center text-center">
          </li>
          <li id="kitchen-target"
            class="splide__slide bg-dark-slate text-white-pure rounded-[30px] p-8 md:p-10 flex flex-col items-center text-center">
          </li>
          <li id="deep-cleaning-target"
            class="splide__slide bg-dark-slate text-white-pure rounded-[30px] p-8 md:p-10 flex flex-col items-center text-center">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>