<section
  class=" w-full mt-10 lg:mt-20"
>
  <div class=" inset-0 z-0 flex flex-col">
    <div class="w-full mb-2 text-center shrink-0">
      <p class="h-medium font-medium text-cyan-brand-dark">Nathalie Jara</p>
      <p class="h-medium text-dark-slate font-semibold">Owner</p>
    </div>
    <div class=" w-full flex-1 h-auto">
      <img
        src="/media/assets/images/owner.jpg"
        alt="Nathalie Jara Owner"
        class=" inset-0 w-full h-auto object-contain"
        fetchpriority="high"
      />
    </div>
  </div>
</section>