<section
  class="relative w-full min-h-[30vh]  sm:min-h-[85vh] mt-10 lg:mt-20 overflow-hidden"
>
  <div class="absolute inset-0 z-0">
    <div class="w-full mb-2 text-center">
      <p class="h-medium font-medium text-cyan-brand">Nathalie Jara</p>
      <p class="h-medium text-cyan-brand-dark font-semibold">Owner</p>
    </div>
    <div class="w-auto h-auto">
      <img
        src="/media/assets/images/owner.jpg"
        alt="Nathalie Jara Owner"
        class="w-full h-full object-cover"
        fetchpriority="high"
      />
    </div>
  </div>
</section>
