<section data-animate="fade-in-up" id="services" class="w-full bg-white-pure py-10 lg:pt-10 lg:pb-10"
  aria-labelledby="services-heading">
  <div class="container flex flex-col items-center">

    <div class="max-w-187.5 text-center animate-target-box">
      <p class="p-large pb-10 lg:pb-15">
        Harborshine Cleaning Company is committed to providing you with excellent service that exceeds your quality
        standards using personalized and eco-friendly cleaning services.
      </p>
      <p id="services-heading" class="mb-20 h-medium uppercase inline-block border-b-[5px] border-cyan-brand pb-0.5">
        Cleaning Services
      </p>
    </div>

    <div id="services-container"
      class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center">
    </div>
  </div>
</section>